@model Category
@{
    ViewBag.Title = "Edit";
}

<div class="page">
    <div id="customer">

        <div class="header">
            <div class="row">
                <div class="col-9">
                    <h1><i class="fas fa-list"></i>EDIT CATEGORY</h1>
                </div>


            </div>
        </div>



        <div class="create">
            <form method="post">
                <input type="hidden" name="Id" value="@Model.Id" />
                <div class="form-group">
                    @Html.LabelFor(m => m.Name)
                    @Html.TextBoxFor(m => m.Name, null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                </div>
                <div class="form-row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-success">Update</button>

                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

