@{
    ViewBag.Title = "Home Page";
}

<div class="page">
    <div id="dashboard">
        <form>
            <div class="form-row">
                <div class="form-group col-md-11 mb-0">
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="checkindate">Check In</label>
                            <input type="date" class="form-control" id="checkindate">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="checkoutdate">Check Out</label>
                            <input type="date" class="form-control" id="checkoutdate">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="adult">Adult</label>
                            <input type="number" class="form-control" id="adult">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="child">Child</label>
                            <input type="number" class="form-control" id="child">
                        </div>
                    </div>

                </div>
                <div class="form-group col-md-1 mt-auto">
                    <div class="form-row">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </div>
            </div>
        </form>
        <div class="room-list">
            <table class="table table-hover">
                <thead>
                    <tr style="background-color:black">
                        <th>Photo</th>
                        <th>Description</th>
                        <th>Room No:</th>
                        <th>Bed</th>
                        <th>Night</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td style="width:20%">
                            <div class="photo">
                                <img src="~/Public/assets/images/image-gallery/1.jpg" alt="">
                            </div>
                        </td>
                        <td style="width:40%">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                            Quibusdam, vitae maxime.
                            Repellat optio, labore animi exercitationem culpa, numquam obcaecati odio corporis
                            sit quasi, esse suscipit? A nostrum optio vero debitis!
                        </td>
                        <td style="width:12%">
                            <p>Room No:</p>
                            <h6>301</h6>
                        </td>
                        <td style="width:10%">
                            <div class="icon">
                                <img src="~/Public/assets/images/image-gallery/icon-bed-0.jpg" alt="">
                            </div>
                        </td>
                        <td style="width:8%">
                            <p>Nights:</p>
                            <h6>2</h6>
                        </td>
                        <td style="width:10%">
                            <p>Price:</p>
                            <h6 class="price">120$</h6>
                        </td>
                    </tr>

                    <tr>
                        <td style="width:20%">
                            <div class="photo">
                                <img src="~/Public/assets/images/image-gallery/2.jpg" alt="">
                            </div>
                        </td>
                        <td style="width:40%">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                            Quibusdam, vitae maxime.
                            Repellat optio, labore animi exercitationem culpa, numquam obcaecati odio corporis
                            sit quasi, esse suscipit? A nostrum optio vero debitis!
                        </td>
                        <td style="width:12%">
                            <p>Room No:</p>
                            <h6>160</h6>
                        </td>
                        <td style="width:10%">
                            <div class="icon">
                                <img src="~/Public/assets/images/image-gallery/single_bed-512.png" alt="">
                            </div>
                        </td>
                        <td style="width:8%">
                            <p>Nights:</p>
                            <h6>7</h6>
                        </td>
                        <td style="width:10%">
                            <p>Price:</p>
                            <h6 class="price">173$</h6>
                        </td>
                    </tr>

                    <tr>
                        <td style="width:20%">
                            <div class="photo">
                                <img src="~/Public/assets/images/image-gallery/3.jpg" alt="">
                            </div>
                        </td>
                        <td style="width:40%">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                            Quibusdam, vitae maxime.
                            Repellat optio, labore animi exercitationem culpa, numquam obcaecati odio corporis
                            sit quasi, esse suscipit? A nostrum optio vero debitis!
                        </td>
                        <td style="width:12%">
                            <p>Room No:</p>
                            <h6>406</h6>
                        </td>
                        <td style="width:10%">
                            <div class="icon">
                                <img src="~/Public/assets/images/image-gallery/icon-bed-0.jpg" alt="">
                            </div>
                        </td>
                        <td style="width:8%">
                            <p>Nights:</p>
                            <h6>3</h6>
                        </td>
                        <td style="width:10%">
                            <p>Price:</p>
                            <h6 class="price">210$</h6>
                        </td>
                    </tr>

                    <tr>
                        <td style="width:20%">
                            <div class="photo">
                                <img src="~/Public/assets/images/image-gallery/4.jpg" alt="">
                            </div>
                        </td>
                        <td style="width:40%">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                            Quibusdam, vitae maxime.
                            Repellat optio, labore animi exercitationem culpa, numquam obcaecati odio corporis
                            sit quasi, esse suscipit? A nostrum optio vero debitis!
                        </td>
                        <td style="width:12%">
                            <p>Room No:</p>
                            <h6>193</h6>
                        </td>
                        <td style="width:10%">
                            <div class="icon">
                                <img src="~/Public/assets/images/image-gallery/single_bed-512.png" alt="">
                            </div>
                        <td style="width:8%">
                            <p>Nights:</p>
                            <h6>10</h6>
                        </td>
                        </td>
                        <td style="width:10%">
                            <p>Price:</p>
                            <h6 class="price">855$</h6>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>